# JS website scraping with selenium

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import json
import requests
import re
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import os

In [7]:
#launch url
url = "http://kanview.ks.gov/PayRates/PayRates_Agency.aspx"

# create session
driver = webdriver.Chrome('D:\Coursera\ProjectX\chromedriver.exe')
driver.implicitly_wait(30)
driver.get(url)

soup_lv0=BeautifulSoup(driver.page_source, 'lxml')
title_lv0 = soup_lv0.findAll('a', id = re.compile('^MainContent_uxLevel1_Agencies_uxAgencyBtn_'))

datalist = []
idx_1 = 1
for tt0 in title_lv0:
    
    # set limit to our scraping results
    if idx_1 >= 5:
        driver.quit()
        break
    
    
    
    python_button = driver.find_element_by_id(tt0['id'])
    python_button.click() #click fhsu link

    soup_lv1=BeautifulSoup(driver.page_source, 'lxml')
    title_lv1 = soup_lv1.findAll('a', id = re.compile('^MainContent_uxLevel2_JobTitles_uxJobTitleBtn_'))
    
    print(idx_1, '/', len(title_lv0), 'Level 1: ID: ', tt0['id'])
    
    idx_2 = 1
    
    for tt1 in title_lv1:
        python_button = driver.find_element_by_id(tt1['id'])
        python_button.click() #click fhsu link
        soup_lv2=BeautifulSoup(driver.page_source, 'lxml')
        
        # store data
        table = soup_lv2.find_all('table')[0]
        df = pd.read_html(str(table),header=0)
        datalist.append(df[0])
    
        #click the back button
        driver.execute_script("window.history.go(-1)") 
        print('    ', idx_2, '/', len(title_lv1), 'Level 2: ID: ', tt1['id'])
        idx_2 += 1
    
        
    driver.execute_script("window.history.go(-1)")
    idx_1 += 1

driver.quit()

1 / 90 Level 1: ID:  MainContent_uxLevel1_Agencies_uxAgencyBtn_0
     1 / 3 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_0
     2 / 3 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_1
     3 / 3 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_2
2 / 90 Level 1: ID:  MainContent_uxLevel1_Agencies_uxAgencyBtn_1
     1 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_0
     2 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_1
     3 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_2
     4 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_3
     5 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_4
     6 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_5
     7 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_6
     8 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_7
     9 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_8
     10 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_9
     11 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_10
     12 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_11
     13 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_12
     14 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_13
     15 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_14
     16 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_15
     17 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_16
     18 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_17
     19 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_18
     20 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_19
     21 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_20
     22 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_21
     23 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_22
     24 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_23
     25 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_24
     26 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_25
     27 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_26
     28 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_27
     29 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_28
     30 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_29
     31 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_30
     32 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_31
     33 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_32
     34 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_33
     35 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_34
     36 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_35
     37 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_36
     38 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_37
     39 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_38
     40 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_39
     41 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_40
     42 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_41
     43 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_42
     44 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_43
     45 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_44
     46 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_45
     47 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_46
     48 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_47
     49 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_48
     50 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_49
     51 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_50
     52 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_51
     53 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_52
     54 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_53
     55 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_54
     56 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_55
     57 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_56
     58 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_57
     59 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_58
     60 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_59
     61 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_60
     62 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_61
     63 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_62
     64 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_63
     65 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_64
     66 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_65
     67 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_66
     68 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_67
     69 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_68
     70 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_69
     71 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_70
     72 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_71
     73 / 73 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_72
3 / 90 Level 1: ID:  MainContent_uxLevel1_Agencies_uxAgencyBtn_2
     1 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_0
     2 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_1
     3 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_2
     4 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_3
     5 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_4
     6 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_5
     7 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_6
     8 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_7
     9 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_8
     10 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_9
     11 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_10
     12 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_11
     13 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_12
     14 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_13
     15 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_14
     16 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_15
     17 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_16
     18 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_17
     19 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_18
     20 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_19
     21 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_20
     22 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_21
     23 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_22
     24 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_23
     25 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_24
     26 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_25
     27 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_26
     28 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_27
     29 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_28
     30 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_29
     31 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_30
     32 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_31

     33 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_32
     34 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_33
     35 / 35 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_34
4 / 90 Level 1: ID:  MainContent_uxLevel1_Agencies_uxAgencyBtn_3
     1 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_0
     2 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_1
     3 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_2
     4 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_3
     5 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_4
     6 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_5
     7 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_6
     8 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_7
     9 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_8
     10 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_9
     11 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_10
     12 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_11
     13 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_12
     14 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_13
     15 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_14
     16 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_15
     17 / 17 Level 2: ID:  MainContent_uxLevel2_JobTitles_uxJobTitleBtn_16

In [11]:
datalist[0]

        Employee Name                 Job Title Overtime Pay Total Gross Pay
0  Zellner,Patricia D  Administrative Assistant        $0.00      $11,991.85

In [14]:
datalist[1]

,Employee Name,Job Title,Overtime Pay,Total Gross Pay
0,"Hannaford III,Roger W",Appt/elect Bd/comm Bd Member,$0.00,$70.00
1,"Reynard,Jill M",Appt/elect Bd/comm Bd Member,$0.00,$70.00
2,"Stull,Jerilyn A",Appt/elect Bd/comm Bd Member,$0.00,$70.00

In [15]:
datalist[2]

    Employee Name                       Job Title Overtime Pay Total Gross Pay
0  McQueen,Glen R  Bd Of Comm Executive Secretary        $0.00       $7,132.32

In [16]:
datalist[3]

               Employee Name   Job Title Overtime Pay Total Gross Pay
0     Black,Shannon Michelle  Accountant        $0.00      $46,764.01
1             Bowser,Jamie M  Accountant        $0.00      $47,520.00
2           Bradford,Randy D  Accountant        $0.00      $43,775.78
3              Epps,David A.  Accountant       $57.48      $41,443.08
4         Fairbanks,Angela K  Accountant    $1,852.20      $46,305.00
5  Klenklen-Albertson,Tina L  Accountant        $0.00      $44,108.95
6             Meens,Shayna I  Accountant        $0.00      $41,677.65
7              Rocha,Nekol L  Accountant        $0.00      $39,441.62
8           Thompson,Karen E  Accountant        $0.00      $45,651.42

In [17]:
datalist[4]

          Employee Name           Job Title Overtime Pay Total Gross Pay
0   Neth,Michael Edward  Accounting Manager        $0.00      $57,892.50
1  Rightmeier,Yolanda M  Accounting Manager    $2,287.24      $65,445.99

In [18]:
datalist[5]

     Employee Name              Job Title Overtime Pay Total Gross Pay
0     Barr,Candy S  Accounting Specialist      $121.20      $35,026.80
1  Fike,Tina Marie  Accounting Specialist        $0.00      $37,562.40

datalist[5]